<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC collect</title>
</head>
<body>
    <h2>Student Application Form</h2>
    
    <form id="studentForm" action="/apply" method="POST">

        <label for="user_id">Email:</label>
        <input type="email" id="user_id" name="user_id" required>

        <label for="GR_no">GR Number:</label>
        <input type="text" id="GR_no" name="GR_no" required>

        <label for="yearOfJoin">Year of Joining:</label>
        <input type="number" id="yearOfJoin" name="yearOfJoin" min="1984" max="2099" required>

 
        <label for="reasonOfLeaving">Reason for Leaving:</label>
        <textarea id="reasonOfLeaving" name="reasonOfLeaving"></textarea>

        <label for="PRN">PRN:</label>
        <input type="text" id="PRN" name="PRN" required>

        <label for="UPRN">UPRN:</label>
        <input type="text" id="UPRN" name="UPRN" required>

        <label for="semester">Semester:</label>
        <input type="number" id="semester" name="semester" min="1" max="8" required>

        <!-- <div class="checkbox-container">
            <input type="checkbox" id="declarationCheck" name="declarationCheck">
            <label for="declarationCheck">
                I confirm that the information provided is correct. Any inconsistency may cause delays.
            </label>
        </div>

        <button type="submit" id="submitButton" value ="1"  >Apply</button> -->
        <div class="checkbox-container">
            <input type="checkbox" id="declarationCheck" name="declaration" value="1">
            <label for="declarationCheck">
                I confirm that the information provided is correct. Any inconsistency may cause delays.
            </label>
        </div>
    
        <input type="hidden" name="isSubmitted" value="1"> <!-- Always sending 1 when form is submitted -->
    
        <button type="submit" id="submitButton">Apply</button>

    </form>
</body>
</html>