<!DOCTYPE html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC collect</title>
    <link rel="stylesheet" href="/static/css/HOD/landingHOD.css">
</head>
<body> 
    <h2>Landing Page Of HOD</h2>
    <a id="accepted" href="/HODacceptedForms">Accepted</a>
    <br/><br/>
    <a id="rejected" href="/HODrejectedForms">Rejected</a>

 
    <br><br/>
    {% for stud in studentDetails %}
        <div class="card">
            
            <div class="card-body">
              
              <!-- preview Info strt -->
                <!-- <p><strong>Name:</strong> {{stud.name}}</p>  -->
                          <!-- NOTE :  name is not appearing ... since it is not getting imported from user table to students tabel ... put a query in such a way that it store the name in the students table as well -->
                <p><strong>G_R_No:</strong> {{stud.GR_no}}</p>
                <p><strong>Branch:</strong> {{stud.courseName}}</p>
                {% if stud.hod_approval_status == 1 %}
                    <button disabled>Approved</button>
                {% else %}
                    <button onclick="this.disabled = true; setApproval('{{ stud.sr_no }}')">Approve</button>
                {% endif %}
              
                <button class="btn btn-secondary" onclick="openModal('{{ stud.courseName }}', '{{ stud.user_id }}', '{{ stud.courseName }}', '{{stud.GR_no}}' ,'{{ stud.sr_no }}','{{ stud.hod_approval_status }}') ">View Details</button>

                {% if stud.hod_approval_status ==2 %}
                    <button disabled>Rejected</button>
                {% else %}
                    <!-- <button onclick="this.disabled = true; setRejection('{{ stud.sr_no }}')">Reject</button>         -->
                  
                    <!-- <button id="trigger_reject_modal_button">Reject</button> -->
                     <button onclick="openRejectModal('{{ stud.sr_no }}')">Reject</button>

                  <!-- <form method="POST" > --> <!-- when we use js to fetch we dont put form tag and  otherwise it will give error ,as alrady fetech is taking data and then again form will send data to flask then error will occur  -->
                    <!-- <div id="modal_overlay">
                      <div class="modal_center_wrapper">
                        <div id="modal_popup_container">

                          <button class="modal_close_button" id="close_modal_icon">&times;</button>

                          <label for="remarks_select_field" class="form_label">Remarks</label>
                          <select id="remarks_select_field" class="form_select_dropdown" name="hod_remarks">
                            <option id="Form_filled_improperly" value="Form filled improperly">Form filled improperly</option>
                            <option id="Insufficient_data" value="Insufficient data">Insufficient data</option>
                            <option id="Others" value="Others">Others</option>
                          </select>

                          <label for="custom_rejection_reason_input" class="form_label">Rejection Reason</label>
                          <textarea id="custom_rejection_reason_input" class="form_textarea_input" placeholder="Enter reason here..." name="hod_rejection_reason"></textarea>

                          <button type="submit" onclick="this.disabled = true; setRejection('{{ stud.sr_no }}')">Reject</button> -->
                          <!-- this one is used when js is used to send data to flask -->

                          <!-- <input type="hidden" name="student_id" value="{{ stud.sr_no }}"> -->                                                   
                          <!-- <button type="submit" onclick="this.disabled = true;">Reject</button> --><!-- we have to use this when we dont want to use js in our function and directly send it to flask -->

                        <!-- </div>
                      </div>
                    </div> -->
                  <!-- </form> -->

                {% endif %}
                <!-- preview Info end -->


                <!-- Modal for details  start-->
                <div class="modal" id="userModal">
                    <div class="modal-content">
                        <span class="close-btn" onclick="closeModal()">&times;</span>
                        <h3>User Details</h3>
                        <p><strong>Name:</strong> <span id="modalName"></span></p>
                        <p><strong>Email:</strong> <span id="modalEmail"></span></p>
                        <p><strong>Branch:</strong> <span id="modalBranch"></span></p>
                        <p><strong>GR_no:</strong> <span id="modalGRNo"></span></p>
                        <!-- Add more user info here -->

                        <br> 
                        <button id="modalApproveBtn">Approve</button>
                        <button id="modalRejectBtn">Reject</button>
                    </div>
                </div>
                <!-- Modal for details end -->

                <!-- modal for rejection pop-up start-->
                  <div id="modal_overlay{{ stud.sr_no }}" class="modal_overlay" style="display:none;">
                    <div class="modal_center_wrapper">
                      <div id="modal_popup_container{{ stud.sr_no }}" class="modal_popup_container">
                        <button class="modal_close_button" id="close_modal_icon{{ stud.sr_no }}">&times;</button>

                        <label class="form_label" for="remarks_select_field{{ stud.sr_no }}">Remarks</label>
                        <select id="remarks_select_field{{ stud.sr_no }}" class="form_select_dropdown">
                          <option value="Form filled improperly">Form filled improperly</option>
                          <option value="Insufficient data">Insufficient data</option>
                          <option value="Others">Others</option>
                        </select>

                        <label class="form_label" for="custom_rejection_reason_input{{ stud.sr_no }}">Rejection Reason</label>
                        <textarea id="custom_rejection_reason_input{{ stud.sr_no }}" class="form_textarea_input" placeholder="Enter reason here..."></textarea>

                        <button id="modal_reject_button{{ stud.sr_no }}">Reject</button>
                      </div>
                    </div>
                  </div>
                <!-- modal for rejection pop-up end-->

                

            </div>
        </div>  
    {% endfor %}

    <script src="/static/js/HOD/landingHOD.js"></script>
    
</body>
</html>

<!-- we need to write js/python code for displaying the branch name as we have now written it a 0=aiml and so on so we cannot display it diriectly -->



<!-- accepted rejected button not working properly in viewDetsils popup ... because the scene is that when we accept or reject the user the code does not acc/rej the particular selected student ... it updates the 1st person in the list instead of the selected person  ... if we acc/rej directly from outside it work properly-->
<!-- basically the issue is with the rejection model in the view-details section    ... definately issue is in the view detals-->







