<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC collect</title>
</head>
<body>
    <h2>Landing Page Of Admin</h2>

    <a id="HOD" href="/adminsPage/HOD">HOD</a>
    <br/><br/>
    <a id="STUDENTS" href="/adminsPage/Students">Students</a>
    <br/><br/>
    <a id="ACCOUNTS" href="/adminsPage/Accounts">Accounts</a>
    <br/><br/>
    <a id="LIBRARY" href="/adminsPage/Library">Library</a>
    <br/><br/>
    <a id="LC_GENERATOR" href="/adminsPage/LC_generator">LC generator</a>
</body>
</html>