<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    here all the students who got rejected by the verifier will be displayed here

    {% for stud in studentDetails %}
        <div class="card">
            <h2>Student Details</h2>
            <p><strong>Name:</strong> {{ stud.name }}</p>
            <p><strong>Email:</strong> {{ stud.user_id }}</p>
            <p><strong>Dept:</strong> {{ stud.courseName }}</p>
            <button class="call-button-accept" data-email="{{ stud.user_id }}" data-name="{{ stud.name }}" onclick="this.disabled = true; setApproval('{{ stud.sr_no }}')">Accept</button>
        </div>
    {% endfor %}
    <script src="/static/js/verifierClerk/landingVerifier.js"></script>
</body>
</html>